<a href="https://colab.research.google.com/github/michalparuch/PAD-zadania-/blob/main/lab7_spark_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
  !apt-get install openjdk-11-jdk-headless -qq > /dev/null
  !wget -q https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

In [2]:
!tar xf spark-3.3.1-bin-hadoop3.tgz

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [4]:
!pip install -q findspark

In [5]:
import findspark

findspark.init()

In [6]:
findspark.find() # sprawdzenie gdzie znajduje siÄ™ instalka

'/content/spark-3.3.1-bin-hadoop3'

1.

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import functions as func


spark = SparkSession.builder.appName("SparkSQL").getOrCreate()


def mapper(line):
    fields = line.split(',')
    return Row(Customer_ID=int(fields[0]), Item_ID=int(fields[1]), Order_value=float(fields[2]))
    

lines = spark.sparkContext.textFile("customer-orders.csv")
customers = lines.map(mapper)


schemaCustomers = spark.createDataFrame(customers).cache()
schemaCustomers.createOrReplaceTempView("customers")
schemaCustomers.groupBy("Customer_ID").agg(func.round(func.sum('Order_value'),2)).show()


spark.stop()

+-----------+--------------------------+
|Customer_ID|round(sum(Order_value), 2)|
+-----------+--------------------------+
|         29|                   5032.53|
|         26|                    5250.4|
|         65|                   5140.35|
|         54|                   6065.39|
|         19|                   5059.43|
|          0|                   5524.95|
|         22|                   5019.45|
|          7|                   4755.07|
|         77|                   4327.73|
|         34|                    5330.8|
|         50|                   4517.27|
|         94|                   4475.57|
|         57|                    4628.4|
|         43|                   5368.83|
|         32|                   5496.05|
|         84|                   4652.94|
|         31|                   4765.05|
|         98|                   4297.26|
|         39|                   6193.11|
|         25|                   5057.61|
+-----------+--------------------------+
only showing top 20 rows

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import functions as func


spark = SparkSession.builder.appName("SparkSQL").getOrCreate()


def mapper(line):
    fields = line.split(',')
    return Row(Customer_ID=int(fields[0]), Item_ID=int(fields[1]), Order_value=float(fields[2]))
    

lines = spark.sparkContext.textFile("customer-orders.csv")
customers = lines.map(mapper)


schemaCustomers = spark.createDataFrame(customers).cache()
schemaCustomers.createOrReplaceTempView("customers")
schemaCustomers.groupBy("Customer_ID").agg(func.round(func.sum('Order_value'),2).alias('Order_value_sorted')).orderBy('Order_value_sorted').show()



spark.stop()

+-----------+------------------+
|Customer_ID|Order_value_sorted|
+-----------+------------------+
|         45|           3309.38|
|         79|           3790.57|
|         96|           3924.23|
|         23|           4042.65|
|         99|           4172.29|
|         75|            4178.5|
|         36|           4278.05|
|         98|           4297.26|
|         47|            4316.3|
|         77|           4327.73|
|         13|           4367.62|
|         48|           4384.33|
|         49|            4394.6|
|         94|           4475.57|
|         67|           4505.79|
|         50|           4517.27|
|         78|           4524.51|
|          5|           4561.07|
|         57|            4628.4|
|         83|            4635.8|
+-----------+------------------+
only showing top 20 rows